[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project
[submodule "third-party/valijson"]
	path = third-party/valijson
	url = https://github.com/tristanpenman/valijson
[submodule "externals/sanitizers-cmake"]
	path = externals/sanitizers-cmake
	url = https://github.com/arsenm/sanitizers-cmake.git
