[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project
[submodule "third-party/valijson"]
	path = third-party/valijson
	url = https://github.com/tristanpenman/valijson
