{# renders any statement : accepts an ExpressionDescription object#}
{% if typeId=="ID" %}
{{ expression -}}
{% endif %}
{% if typeId=="designator" %}
{{ expression.objId }}{% if expression.objType == "array" %}[{{ render_template("expression.tmpl", expression.index) }}]{% else %}.{{ render_template("expression.tmpl", expression.index) }}{% endif %}
{% endif %}
{% if typeId=="designator_expr" %}
{{ render_template("expression.tmpl", expression.des) }}{% if expression.objType == "array" %}[{{ render_template("expression.tmpl", expression.index) }}]{% else %}.{{ render_template("expression.tmpl", expression.index) }}{% endif %}
{% endif %}
{% if typeId=="binary" %}
{{ render_template("expression.tmpl", expression.lhs) }} {{ expression.op }} {{ render_template("expression.tmpl", expression.rhs) -}}
{% endif %}
{% if typeId=="ms_count"%}
MultisetCount({{ expression.varId }}:{{ render_template("expression.tmpl", expression.varValue) }}, {{ render_template("expression.tmpl", expression.predicate) }}){# -#}
{% endif %}
{% if typeId=="proc_call" %}
{{ expression.funId }}({% for act in expression.actuals %}{% if loop.is_first %}{{ render_template("expression.tmpl", act)}}{% else %}, {{ render_template("expression.tmpl", act) }}{% endif %}{% endfor %}){# -#}
{% endif %}
{% if typeId == "neg_expr" %}
!{{ render_template("expression.tmpl", expression.expr) }}{# -#}
{% endif %}
