{# renders any statement : accepts an ExpressionDescription object#}
{% if typeId=="ID" %}
{{ expression -}}
{% endif %}
{% if typeId=="designator" %}
{{ expression.objId }}{% if expression.objType == "array" %}[{{ render_template("expression.tmpl", expression.index) }}]{% else %}.{{ render_template("expression.tmpl", expression.index) }}{% endif %}
{% endif %}
{% if typeId=="binary" %}
{{ render_template("expression.tmpl", expression.lhs) }} {{ expression.op }} {{ render_template("expression.tmpl", expression.rhs) -}}
{% endif %}
