{# This template renders a list of formal parameters #}
{%- for param in params -%}
{% if param.passByReference %}var {% endif %}{{param.id}} : {{render_template("type_expr.tmpl", param.type)}}{%if not loop/is_last %}; {% endif %}
{%- endfor -%}