{# data held in message_constructor_tmpl_data #}
function {{ message_constructor_tmpl_data.msgId }}(adr: Address; mtype: MessageType; src: Machines; dst: Machines{% for param in message_constructor_tmpl_data.additionalParameters %}; {{ param.id }}: {{ param.type }} {% endfor %}) : Message;

var msg: Message;

begin
    msg.adr := adr;
    msg.mtype := mtype;
    msg.src := src;
    msg.dst := dst;
    {% for glob_msg_type in global_message_type.fields %}
    msg.{{ glob_msg_type.id }} := {% if msg_uses_field(message_constructor_tmpl_data, glob_msg_type) %}{{ glob_msg_type.id }}{% else %}undefined{% endif %};
    {% endfor %}

end;
