-- Protogen-MLIR-V2 : Murphi Code Gen
{# This is the base template for the codegen #}
{# It is made up of multiple includes which render different parts of the code #}
{% if exists("decls") %}
{% if exists("decls.const_decls") %}
    {%- set const_decl_tmpl_data=decls.const_decls %}
    {%- include "const_decl.tmpl" %}
{% endif %}


{% if exists("decls.type_decls") %}
    {%- set type_decl_tmpl_data=decls.type_decls %}
    {%- include "type_decl.tmpl" %}
{% endif %}

{% if exists("decls.var_decls")%}
    {%- set var_decl_tmpl_data=decls.var_decls %}
    {%- include "var_decl.tmpl" %}
{% endif %}

{% endif %}

{# Render all the murphi methods #}
{% if exists("proc_decls") %}
    {%- for procDecl in proc_decls %}
        {{- render_template("proc_decl.tmpl", procDecl) }}
    {%- endfor %}
{% endif %}