{# expect a RuleDescription #}
{% if typeId == "simple_rule" %}
{{ render_template("simple_rule.tmpl", rule) }}
{% endif %}
{% if typeId == "ruleset" %}
{{ render_template("ruleset.tmpl", rule) }}
{% endif %}
{% if typeId == "alias_rule" %}
{{ render_template("alias_rule.tmpl", rule) }}
{% endif %}
{% if typeId == "choose_rule" %}
{{ render_template("choose_rule.tmpl", rule) }}
{% endif %}